.header {
  position: relative;
}

.has-border-bottom-219 {
  background-color: #ffffff;
  border-bottom: 1px solid #DBDBDB;
}

.display-table {
  display: table;
  width: 100%;
}

.logo-div-1 {
  display: table-cell;
  vertical-align: middle;
}

.logo-div-2 {
  box-sizing: border-box;
  position: relative;
}

a.logo-anchor {
  display: table-cell;
  cursor: pointer;
}

.logo-div-3 {
  height: 64px;
  display: table-cell;
  position: relative;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  vertical-align: middle;
  white-space: nowrap;
}

.logo-div-4 {
  display: inline-block;
  color: #FF5A5F;
  vertical-align: middle;
  font-size: 34px;
  transition: 0.25s color;
}

img#logo {
  display: block;
  height: 1em;
  width: 1em;
  background-color: red;
}

/*Cities Search*/
.search-div-1 {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  position: relative;
}

.search-div-2 {
  border-left: 1px solid #DBDBDB;
}

form.search-form {
  color: #484848;
  position: relative;
}

input.search-bar {
  padding-left: 48px;
  height: 64px;
  margin: 0px;
  border: none;
  background: none;
  width: 100%;
}

.cities-search-results {
  position: absolute;
  z-index: 5;
}

.cities-search-results ul {
  padding-left: 34px;
}

.cities-search-results li {
  padding: 13px;
  background-color: rgba(255, 255, 255, 0.8);
}

.cities-search-results li:hover {
  background-color: #b6fcd5;
}

.loupe-div {
  left: 16px;
  right: auto;
  position: absolute;
  top: 38%;
  font-size: 18px;
  color: inherit;
}

img#loupe {
  height: 1em;
  width: 0.9em;
  display: block;
}

ul.nav-ul {
  display: table;
  list-style: none;
  padding: 0px;
  margin: 0px;
  height: 64px;
}

ul.nav-ul li {
  display: table-cell;
}

ul.nav-ul > li > a, ul.nav-ul button {
  background: transparent;
  border: none;
  color: inherit;
  display: inline-block;
  height: 64px;
  line-height: 64px;
  text-decoration: none;
  margin: 0;
  position: relative;
  padding: 0 16px;
  white-space: nowrap;
  cursor: pointer;
}

ul.nav-ul a > div , ul.nav-ul button > div {
  height: 100%;
  vertical-align: middle;
}

ul.nav-ul a > div:hover , ul.nav-ul button > div:hover {
  border-bottom: 2px solid #767676;
}

ul.nav-ul a > div > div, ul.nav-ul button > div > div {
  display: inline-block;
  padding: 8px 0;
  vertical-align: middle;
  line-height: 1;
  border-bottom: 2px solid transparent;
}

div.profile-pic-div {
  background-color: #F2F2F2;
  box-shadow: 0 0 0 2px #DBDBDB;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 28px;
  height: 28px;
}

#profile-pic {
  height: 28px;
  width: 28px;
}

li.li-profile {
  position: relative;
}

div.profile-drop-div {
  position: absolute;
}
