.header {
  position: relative;
}

.has-border-bottom-219 {
  background-color: #ffffff;
  border-bottom: 1px solid #DBDBDB;
}

.display-table {
  display: table;
  width: 100%;
}

.logo-div-1 {
  display: table-cell;
  vertical-align: middle;
}

.logo-div-2 {
  box-sizing: border-box;
  position: relative;
}

a.logo-anchor {
  display: table-cell;
  cursor: pointer;
}

.logo-div-3 {
  height: 64px;
  display: table-cell;
  position: relative;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  vertical-align: middle;
  white-space: nowrap;
}

.logo-div-4 {
  display: inline-block;
  color: #FF5A5F;
  vertical-align: middle;
  font-size: 34px;
  transition: 0.25s color;
}

img#logo {
  display: block;
  height: 1em;
  width: 1em;
  background-color: red;
}

/*Cities Search*/
.search-div-1 {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  position: relative;
}

.search-div-2 {
  border-left: 1px solid #DBDBDB;
}

form.search-form {
  color: #484848;
  position: relative;
}

input.search-bar {
  padding-left: 48px;
  height: 64px;
  margin: 0px;
  border: none;
  background: none;
  width: 100%;
}

.cities-search-results {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  position: absolute;
  z-index: 5;
}

.cities-search-results ul, .cities-search-results {
  width: inherit;
}

.cities-search-results li:first-child {
  border-top: 2px solid #198C82;
}

.cities-search-results li {
  border-bottom: 1px solid lightgrey;
  padding: 13px;
  padding-left: 34px;
  width: inherit;
  background-color: rgba(255, 255, 255, 0.9);
}

.cities-search-results li:hover {
  background-color: #FECED0;
}

.cities-search-results a {
  color: #484848;
}

.loupe-div {
  left: 16px;
  right: auto;
  position: absolute;
  top: 38%;
  font-size: 18px;
  color: inherit;
}

img#loupe {
  height: 1em;
  width: 0.9em;
  display: block;
}
