ul.nav-ul {
  display: table;
  list-style: none;
  padding: 0px;
  margin: 0px;
  height: 64px;
}

ul.nav-ul li {
  display: table-cell;
}

ul.nav-ul li:hover, .logo-div-1:hover {
  background-color: rgba(0,0,0,0.03);
}

ul.nav-ul > li > a, ul.nav-ul button {
  background: transparent;
  border: none;
  color: inherit;
  display: inline-block;
  height: 64px;
  line-height: 64px;
  text-decoration: none;
  margin: 0;
  position: relative;
  padding: 0 16px;
  white-space: nowrap;
  cursor: pointer;
}

.vertical-align-me {
  height: 100%;
  vertical-align: middle;
}

.nav-ul a:hover {
  border-bottom: 2px solid #FF5A5F;
}

.hover-me-grey:hover {
}

.hover-me-grey span {
  letter-spacing: .2px;
}

ul.nav-ul a > div > div, ul.nav-ul button > div > div {
  display: inline-block;
  padding: 8px 0;
  vertical-align: middle;
  line-height: 1;
  border-bottom: 2px solid transparent;
}

div.profile-pic-div {
  background-color: #F2F2F2;
  box-shadow: 0 0 0 2px lightgrey;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 35px;
  height: 35px;
}

#profile-pic {
  height: 35px;
  width: 35px;
}

li.li-profile {
  position: relative;
}

div.profile-drop-div {
  position: absolute;
}

.nav-container-div {
  position: relative;
}

.d-d-1 {
  position: absolute;
  top: 65px;
  left: 70px;
  width: 270px;
  height: 100px;
  background-color: white;
  z-index: 1;
}

.d-d-2 {
  list-style: none;
  padding: 1px;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.d-d-3 {
  background-color: white;
  margin-bottom: 2px;
}

.d-d-3:last-child {
  margin-bottom: 0px;
}

.d-d-4 {
  padding: 0 16px;
  display: block;
}

.d-d-6 {
  padding: 16px 0;
  border-bottom: 1px solid lightgrey;
}

.d-d-6:hover{
  border-bottom: 1px solid darkgrey;
}

.d-d-6 span {
  color: rgb(72,72,72);
  font-weight: 400;
  letter-spacing: 0px;
  font-size: 15px;
}

.d-d-6 {
  cursor: pointer;
}
