
/*HOME*/

.gif-background {
  width: 100%;
  height: 475px;
  background: url("http://res.cloudinary.com/mwong9968/image/upload/c_scale,h_338/v1506461203/final_vtxlgf.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

}

.hero {
  padding-top: 100px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.hero h1 {
  font-size: 55px;
  color: #fd5c63;
  font-weight: bold;
}

.hero h3 {
  font-size: 24px;
  font-weight: 900;
  color: white;
  text-shadow: 1px 1px grey;
}

.body {
  padding-left: 6%;
  padding-right: 6%;
}

.footer {
  height: 150px;
  background-color: lightgrey;
}
