.search {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

.right-half {
  width: 41%;
  display: flex;
  height: 100%;
}

.map {
  width: 100%;
  height: calc(100vh - 65px);
}

.left-half {
  width: 59%;
  margin-left: 12px;
  overflow-y: auto;
  height: calc(100vh - 65px)
}

.listing-index-item {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding-bottom: 15px;
}

.listing-index-item h1 {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 2px;
  padding-right: 8px;
  color: #484848;
  height: 17px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.listing-index-item h2 {
  margin-top: 0px;
  font-size: 12px;
  font-weight: 300;
  color: #484848;
  display: inline;
}

.img-wrapper {
  height: 200px;
  width: auto;
}
.listing-index-item img {
  padding-right: 8px;
  height: 100%;
}

.no-listings {
  padding-top: 60px;
  font-size: 28px;
}

.stars-16 {
  display: inline-block;
  padding-left: 8px;
}

.stars-16 img {
  height: 11px;
  width: 11px;
  display: inline-block;
  padding-right: 0px;
}

.number-of-reviews {
  display: inline;
  font-size: 12px;
  font-weight: 300;
  color: #484848;
  padding-left: 4px;
}

.filters-title {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.filter-form {
  margin-bottom: 10px;
}
