/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*RESET*/
* {
  box-sizing: border-box;
}

 html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
}

a {
  text-decoration: none;
}

body {
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.43;
  color: #484848;
  font-size: 14px;
}

ol, ul {
  list-style: none;
}

img {
  width: 100%
}

/*HEADER*/

/*MODAL LOGIN/SIGNUP*/

div.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.close {
  float: right;
  margin-top: -17px;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  background-color: #fefefe;
  margin: 22% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
}


/*HOME*/

div.gif-background {
  width: 100%;
  height: 425px;
  background: url("https://res.cloudinary.com/dsguwnfdw/image/upload/v1478124321/Gifs/581a622416934971871193_dlejc3.gif");
  background-size: 100% 100%;
}

div.hero {
  padding-top: 100px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

div.hero h1 {
  font-size: 50px;
  color: #fd5c63;
  font-weight: bold;
}

div.hero h3 {
  font-size: 20px;
  font-weight: 900;
  color: white;
}

div.footer {
  height: 150px;
  background-color: lightgrey;
}

div.search {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}

div.right-half {
  width: 41%;
  display: flex;
  height: 100%;
}

div.map {
  width: 100%;
  height: calc(100vh - 65px);
}

div.left-half {
  width: 59%;
  margin-left: 20px;
  overflow-y: auto;
  height: calc(100vh - 65px)
}
